*.swp
*.log
/db.db
node_modules
config.json
dbconfig
server.crt
server.key
/public/css/*.css
.idea
.sass-cache
DS_Store
.c9
dist/*
!dist/static
temp
client/**/*.css
bower_components
libs/*
coverage
docs
*.log
.env
DynamoDBLocal_lib
dynamodb_local_latest.tar.gz
DynamoDBLocal.jar
LICENSE.txt
README.txt
shared-local-instance.db
third_party_licenses/antlr-runtime-4.1_LICENSE.txt
third_party_licenses/commons-cli-1.2_LICENSE.txt
third_party_licenses/commons-cli-1.2_NOTICE.txt
third_party_licenses/commons-lang-3.3.x_LICENSE.txt
third_party_licenses/commons-lang-3.3.x_NOTICE.txt
third_party_licenses/jackson-annotations-2.3.2_NOTICE.txt
third_party_licenses/jackson-core-2.3.2_NOTICE.txt
third_party_licenses/jackson-databind-2.3.2_NOTICE.txt
third_party_licenses/jackson_LICENSE.txt
third_party_licenses/jetty_LICENSE.txt
third_party_licenses/jetty_NOTICE.txt
third_party_licenses/joda-time-2.3_LICENSE.txt
third_party_licenses/joda-time-2.3_NOTICE.txt
third_party_licenses/log4j-1.2.17_LICENSE.txt
third_party_licenses/log4j-1.2.17_NOTICE.txt
third_party_licenses/servlet-api-3.0_LICENSE.txt
third_party_licenses/servlet-api-3.0_NOTICE.txt
third_party_licenses/spdy-core_LICENSE.txt
third_party_licenses/spdy-core_NOTICE.txt
third_party_licenses/spdy-jetty_LICENSE.txt
third_party_licenses/spdy-jetty_NOTICE.txt
third_party_licenses/sqlite4java_LICENSE.txt
third_party_licenses/THIRD_PARTY_JAVASCRIPT_NOTICES.txt
